<?xml version='1.0' encoding='utf-8'?>
<widget id="com.website.gametitle" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Game Title</name>
    <description>Web based game template for game jams.</description>
    <author email="author@gametitle.com" href="http://gametitle.com">Author Name</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <icon density="ldpi" platform="android" src="www/assets/graphics/icon.png" />
    <icon density="mdpi" platform="android" src="www/assets/graphics/icon.png" />
    <icon density="hdpi" platform="android" src="www/assets/graphics/icon.png" />
    <icon density="xdpi" platform="android" src="www/assets/graphics/icon.png" />
    <splash density="lhdpi" platform="android" src="www/assets/graphics/icon.png" />
    <splash density="mhdpi" platform="android" src="www/assets/graphics/icon.png" />
    <splash density="hhdpi" platform="android" src="www/assets/graphics/icon.png" />
    <splash density="xdpi" platform="android" src="www/assets/graphics/icon.png" />
    <splash density="xhdpi" platform="android" src="www/assets/graphics/icon.png" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
